---
import  Headers  from '../components/Headers.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Shoes</title>
    <style>
        body{
            margin: 0;
        }
    </style>
</head>

<body>
    <Headers/>
    <div class="container">
        
        <img src="images/adidas.jpg" alt="adidas" class="image">
        <img src="images/nike.jpg" alt="nike" class="image">
    </div>
    <div class="container">
        <img src="images/vans.jpg" alt="vans" class="image">
        <img src="images/elegant.jpg" alt="Elegant shoes" class="image">
    </div>
        
        <!--img i img -->
    
    <div class="contador">

    </div>
    
</body>
</html>