---
import  Headers  from '../components/Headers.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Shoes</title>
    <style>
        body{
            margin: 0;
        }
        p{
            font-family: Courier;
        }
        
    </style>
</head>

<body>
    <Headers/>
    <main>
        <article>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dolorum. 
                Velit sapiente minus praesentium, autem molestiae nulla sunt commodi vero. 
                Itaque sed nisi facilis fuga ducimus iste nesciunt minima ratione quibusdam sint doloremque excepturi, 
                at quae incidunt ad porro accusamus optio ipsum. 
                Quam odit ipsa unde alias fugiat ut repudiandae praesentium cumque libero corrupti quaerat, 
                sed quis dolorem saepe! Harum molestias quasi similique aspernatur. Provident, veniam blanditiis. 
                Placeat tempora, veniam maxime dolorum nulla voluptate. 
                Quod minus velit vitae. 
                Ex autem debitis alias ea unde recusandae perferendis maiores obcaecati eum tenetur, 
                aspernatur fuga, reprehenderit molestiae id! Sapiente, quo fugit nulla laborum a id. 
                Nobis ad iure quidem, vitae voluptate maxime quae atque deleniti consequuntur dolore. 
                Similique voluptates sint voluptatum ullam quidem consequuntur dolore, harum, non aperiam, 
                maxime at reprehenderit culpa officiis ab! Unde nam quo, excepturi explicabo quos vitae temporibus. 
                Fugit, perferendis quam. 
                Dicta, vel quia, aut consequuntur placeat porro sed possimus earum qui atque blanditiis 
                dolorum sit officiis illo accusamus, quo facere ducimus itaque voluptas consectetur et fugit animi quae nisi. 
                Optio dignissimos velit maiores illo, accusamus deserunt magnam eaque ad aut, repellendus, 
                provident earum. Officia eligendi, nobis sunt laborum ex, aperiam quia possimus natus eaque ut ab eius minima?
            </p>
        </article>
        
    </main>
    <footer>
		&copy; Biel Puig
	</footer>
</body>
</html>