
    <header>
        <a href="/">
            <img 
                id="logo"
			    src="images/logo_shoes.jpg"
			    alt="shoes"
            />
        </a>
        <a href="/display"><h3>Display</h3> </a>
        
        <a href="/Info"><h3>Info</h3> </a> 
    </header>
    <style>
        header {
            background-color: grey;
            color: black;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 1em;
            padding-right: 1em;
        }
  
        header img{
            
            height: 2.45em;
            margin: .5em;
            border-radius: 50%;
        }

        header a {
            padding-left: 0.5em;
            padding-right: 0.5em;
            text-decoration: none;
            color: white;
            border-bottom: 3px solid transparent;
            padding: 0.2em;
            padding-bottom: 0.3em;
            margin-right: 2em;
        }

        header a:hover {
            box-sizing: border-box;
            background-color: rgba(0, 255, 76, 0.338);
        }
    </style>