<div>
    <img src="./public/images/adidas.jpg" alt="">
    <img src="./public/images/adidas-casual.jpg" alt="">
    <img src="./public/images/barker.jpg" alt="">
    <img src="./public/images/canvas.jpg" alt="">
    <img src="./public/images/cherry-loafers.jpg" alt="">
    <img src="./public/images/elegant.jpg" alt="">
    <img src="./public/images/joma.jpg" alt="">
    <img src="./public/images/kizik.jpg" alt="">
    <img src="./public/images/malvern.jpg" alt="">
    <img src="./public/images/nike-air.jpg" alt="">
    <img src="./public/images/nike.jpg" alt="">
    <img src="./public/images/patent-leather.jpg" alt="">
    <img src="./public/images/salomon.jpg" alt="">
    <img src="./public/images/tao-shoe.jpg" alt="">
    <img src="./public/images/vans.jpg" alt="">
    <img src="./public/images/woodland.jpg" alt="">
</div>
<style>
    img{
    margin-bottom: 1em;
    margin-top: .8em;
    margin-left: 1em;
    height: 20em;
    margin-right: 2em;
    border-radius: 10%;
    border: 2px solid lightskyblue;
  }
  div{
    background-color: beige;
  }
</style>