<div>
    <a href="https://www.adidas.es/"><img src="./public/images/adidas.jpg" alt=""></a>
    <a href="https://www.adidas.es/"><img src="./public/images/adidas-casual.jpg" alt=""></a>
    <img src="./public/images/barker.jpg" alt="">
    <a href="https://canvas.com.co/"><img src="./public/images/canvas.jpg" alt=""></a>
    <img src="./public/images/cherry-loafers.jpg" alt="">
    <a href="https://www.istockphoto.com/es/foto/elegante-zapatos-de-cuero-negro-gm172417586-4624907"><img src="./public/images/elegant.jpg" alt=""></a>
    <img src="./public/images/joma.jpg" alt="">
    <img src="./public/images/kizik.jpg" alt="">
    <img src="./public/images/malvern.jpg" alt="">
    <a href="https://www.nike.com/"><img src="./public/images/nike-air.jpg" alt=""></a>
    <a href="https://www.nike.com/"><img src="./public/images/nike.jpg" alt=""></a>
    <img src="./public/images/patent-leather.jpg" alt="">
    <a href="https://www.salomon.com/"><img src="./public/images/salomon.jpg" alt=""></a>
    <a href="https://www.vans.es/"><img src="./public/images/vans.jpg" alt=""></a>
    <img src="./public/images/woodland.jpg" alt="">
    <img src="./public/images/tao-shoe.jpg" alt="" class="corte">
</div>
<style>
img{
    margin-bottom: 1em;
    margin-top: .8em;
    margin-left: 1em;
    height: 15em;
    margin-right: 2em;
    border-radius: 0%;
    border: 5px solid lightcoral;
  }
  a img:hover{
    border-radius: 10%;
    border: 5px solid green;
  }
.corte{
    clip-path: inset(0px 270px 0px 0px);
    border-radius: 0%;
    border: 5px solid lightcoral;
  }
  div{
    background-color: beige;
    
  }
</style>